
<div class="post" id="post-<%= post.id %>">
  <div class= "profile-section">
     <%= image_tag post.user.avatar.url(:thumb)%>
  </div>
  <div class="content">
    <%=post.body%>
    <p class= "author">
      <%= link_to post.user, user_path(post.user) %> -<%= post.created_at%>
    </p>
  </div>
  <div class="actions">
    <% if post.likes.where(user: current_user).first %>
      <%= link_to '', post_like_path(post_id: post.id), class: 'fa fa-heart', method: :post %>
    <% else %>
      <%= link_to '', post_like_path(post_id: post.id), class: 'fa fa-heart-o', method: :post %>
    <% end %>

    <% if current_user == post.user %>
      <%= link_to '', post, method: :delete, class: 'fa fa-trash', remote: true, data: { confirm: 'Are you sure?' }%>
    <% end %>
  </div>
</div>



<% if false%>
<tr>
  <td><%= post.body %></td>
   <td><%= link_to post.user.name, post.user%></td>

     <% if current_user == post.user %>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
 <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 <% end %>
</tr>
<% end %>
